<!DOCTYPE html>
<html>
  <head>
    <title>RealEstateTest</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<!-- Nav Bar starts here -->
  	<div class="navbar navbar-inverse bg-inverse">
      <div class="container d-flex justify-content-between">
        <a href="#" class="navbar-brand">TF</a>
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  	<!-- Nav Bar ends here -->

  	<div class="container-fluid">
  		<%= yield %>
  	</div>    

    <br>

    <footer class="text-muted bg-inverse">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>Li Europan lingues es membres del sam familie. Lor separat existentie es un myth. Por scientie, musica, sport etc, litot Europa usa li sam vocabular. Li lingues differe solmen in li grammatica, li pronunciation e li plu commun vocabules. Omnicos directe al desirabilite de un nov lingua franca: On refusa.</p>
      </div>
    </footer>
    
  </body>
</html>
